#root {
    overflow: hidden;


  }
  
  .header-mob{
        padding: 1%;
        color: antiquewhite;
        text-align: center;
        height: 30px;
        margin: 20px;
      }
      
      .header-img-mob {
        height:30px;
        -webkit-drop-shadow: 0px 0px 2px antiquewhite;
        -moz-drop-shadow: 0px 0px 2px antiquewhite;
        filter: drop-shadow(0px 0px 2px antiquewhite);
}

.card-header-mob {
  font-family: 'Kanit', sans-serif;
  align-self: center;
  width: 90%;
  color: antiquewhite;
  border-style: solid;
  border-bottom-style: none;
  text-align: center;
  background-color: rgba(26, 16, 61, 0.644);
  border-top-left-radius: 5px;
  border-top-right-radius:5px;
}

.card-mob {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    align-self: center;
    border-style: solid;
    border-color: antiquewhite;
    color:antiquewhite;
    width: 90%;
    height: 65vh;
    background-color: rgba(43, 35, 75, 0.226);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
.container-mob {

    display: flex;
    flex-direction:column;
    padding-top: 1%;
    padding-bottom: 2%;
    justify-content: center;
    width: fit-content;
    margin: auto;
    height: 100%;
  }
  
  .col-head-mob {
    font-family: 'Kanit', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    padding-left: 10px;
    color: #0a0e12;
    background-color: antiquewhite;
  }

  .col-content-mob {
    font-family: 'Roboto', sans-serif;
    padding-left: 10px;
    margin: 10px;
  }

  .inv-content-mob {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 10px;
  }

  .sp-img-mob {
    height:20px;
    margin-left:5px;
    margin-right: 5px;
      transform: translate(-0%,20%);
  top: 50%;
  left: 50%;
  }
  

  
